#App {
  max-width: 100%;
  background: #1e1848;
}

/* H E A D E R */

#header>img {
  max-width: 100%;
}

.list-group-item {
  background: rgba(30, 24, 72, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: #ec7300;
  font-weight: bold;
  text-shadow: 1px 1px #1e1848;
}

.list-group-item:hover, li>a:hover {
  color: #ff6101;
  text-shadow: 1px 1px #ff3700;
  cursor: pointer;
}

li>a {
  text-decoration: none;
  color: inherit;
}

/* QUEM SOU EU */

#quemsoueu {
  background: #1e1848;
  position: relative;
  margin: 10% 2% 5% 2%;
}

/******************* Timeline Demo - 5 *****************/
.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;margin-top:-79px}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#ff6101;border-right-color:#ff6101;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year{display:block;width:110px;height:110px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:30px;font-weight:700;color:#ff6101;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content{width:35%;float:right;background:#ff6101;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:#ff6101;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:#701470;border-right-color:#701470}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color:#701470}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:#701470}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:#ff3700;border-right-color:#ff3700}
.main-timeline5 .timeline:nth-child(3n) .year{color:#ff3700}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:#ff3700}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:#3a0ebc;border-right-color:#3a0ebc}
.main-timeline5 .timeline:nth-child(4n) .year{color:#3a0ebc}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:#3a0ebc}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
.main-timeline5 .timeline-content:before{left:-18%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-127px}
.main-timeline5 .timeline-content:before{left:-2%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
.main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
.main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}

/* PROJETOS */

#projetos {
  background: #ff3714;
  padding: 2% 2% 3% 2%;
}

#projetos>h3 {
  color: #000;
  text-shadow: 2px 1px #ff6101;
  font-weight: bold;
  font-size: 225%;
}

.project-image {
  max-width: 300px;
  max-height: 150px;
  border-radius: 10px;
  margin-bottom: 3%;
}

.card {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-title {
  color: #fc7300;
  background: #1e1848;
}

.card-text {
  color: #fff;
  font-size: 130%;
}

/* PROPOSTAS */

#propostas {
  background: #701470;
  padding: 2% 2% 3% 2%;
}

#propostas>h3 {
  color: #fff;
  text-shadow: 2px 1px #ff3700;
  font-weight: bold;
  font-size: 200%;
}

#propostas>h3>span {
  text-decoration: underline #ff3700;
}

.tab-label {
  background-color: #000;
}